/* font size variables */
/* color variables */
/* special colors */
* {
  box-sizing: border-box; }

html {
  font-family: 'Hind', "Helvetica Neue", -apple-system, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #050D31; }

body {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 45px;
  margin: 0; }

h2 {
  font-size: 20px;
  margin: 0; }

h3 {
  font-size: 18px;
  margin: 0; }

label,
a {
  font-size: 16px;
  text-decoration: none;
  cursor: pointer; }

h4,
p {
  font-size: 13px;
  margin: 0; }

img {
  max-width: 100%; }

button {
  border: 0;
  background-color: transparent;
  height: auto;
  line-height: 100%; }

input {
  border: 0;
  outline: none;
  box-shadow: none;
  background-color: transparent; }

.container {
  max-width: 960px;
  margin: auto; }

.big-container {
  max-width: 1200px;
  margin: auto; }

ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-middle {
  vertical-align: middle; }

.text-line-height-base {
  line-height: 1.5em; }

.col-3 {
  float: left;
  width: 25%; }

.col-4 {
  float: left;
  width: 33.33%; }

.col-5 {
  float: left;
  width: 41.66%; }

.col-6 {
  float: left;
  width: 50%; }

.col-7 {
  float: left;
  width: 58.33%; }

.col-9 {
  float: left;
  width: 75%; }

.block-mobile {
  display: none !important; }

.header__logo {
  margin: 30px auto;
  max-width: 180px; }
.header__content {
  position: relative;
  margin: 60px auto; }
.header__base-info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }
.header__introduction {
  padding: 30% 0; }
.header__subtitle {
  max-width: 120px; }
.header__title {
  margin: 15px 0;
  font-size: 4.15rem;
  background: linear-gradient(120deg, #7AC8C4 0%, #15A5B2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent; }
.header__description {
  color: #000; }
.header__watch-video-container {
  display: block; }
.header__watch-video {
  max-width: 60px; }
.header__watch-video-text {
  margin: 0 20px;
  font-style: italic;
  font-size: 12px; }
.header__slide-container {
  position: relative;
  margin-left: 24%;
  width: 76%; }
.header__slide-controller {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0;
  z-index: 10; }
.header__slide-controller-item {
  display: inline-block;
  padding: 5px 20px;
  font-size: 0;
  background-color: #fff; }
  .header__slide-controller-item svg {
    width: 24px; }
.header .owl-nav {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 20; }
.header .owl-dots {
  display: none; }

.footer {
  padding-top: 60px;
  padding-bottom: 60px; }
  .footer__container::after {
    content: "";
    display: block;
    clear: both; }
  .footer__logo {
    max-width: 240px; }
  .footer__item {
    display: inline-block; }
  .footer__link {
    display: block;
    padding: 15px;
    font-size: 1rem;
    color: #212121; }

.nav {
  background-color: #353535;
  color: #fff;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav li {
    display: inline-block;
    margin-right: 90px; }
    .nav li:last-child {
      margin-right: 0; }

@media (max-width: 1024px) {
  .header-nav__item {
    margin: 0; } }
@media (max-width: 960px) {
  html {
    font-size: 12px; }

  h1 {
    font-size: 30px; }

  h2 {
    font-size: 18px; }

  h3 {
    font-size: 16px; }

  label,
  a {
    font-size: 13px;
    text-decoration: none;
    cursor: pointer; }

  h4,
  p {
    font-size: 12px; }

  .container {
    max-width: 768px; }

  .big-container {
    max-width: 900px; } }
@media (max-width: 767px) {
  .block-mobile {
    display: block !important; }

  .hidden-mobile {
    display: none !important; }

  .header__logo {
    max-width: 140px; }
  .header__content {
    margin: 0; }
  .header__slide-container {
    margin-left: 0;
    width: 100%; }
  .header__slide-controller {
    display: none; }
  .header__introduction {
    padding: 30px 15px; }
  .header__base-info {
    position: static; }
  .header__watch-video-container {
    text-align: center;
    margin: 15px auto; }
  .header__watch-video-text {
    display: block;
    margin: 15px auto;
    font-weight: 600; }

  .header-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 60px 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #050D31;
    background-color: #fff;
    z-index: 2;
    overflow-y: auto; }
    .header-nav a {
      color: inherit; }
    .header-nav__item {
      display: block;
      padding: 0; }
      .header-nav__item a {
        padding: 20px; }
      .header-nav__item a:not(.language):hover {
        background-color: transparent; }
    .header-nav__item--m {
      position: absolute;
      top: 0;
      right: 0;
      padding: 20px; }
      .header-nav__item--m img {
        max-width: 16px; }
    .header-nav__dropdown-btn {
      position: relative; }
    .header-nav__dropdown-btn:after {
      position: absolute;
      right: 20px;
      top: 24px;
      background-image: url(../img/arrow-down-m.png); }
    .header-nav__submenu {
      display: none;
      visibility: visible !important;
      position: static;
      width: auto;
      color: #050D31;
      background-color: #fff;
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0); }
    .header-nav__submenu.show {
      display: block; } }
.media {
  padding-top: 60px;
  padding-bottom: 60px; }
  .media__list {
    font-size: 0; }
  .media__item {
    display: inline-block;
    font-size: 0; }
    .media__item::before, .media__item::after {
      content: "";
      vertical-align: middle;
      display: inline-block;
      width: 10px;
      height: 1px;
      background-color: #dbdbdb; }
  .media__item:first-child::before {
    display: none; }
  .media__item:last-child::after {
    display: none; }
  .media__image {
    margin: 0 35px;
    max-height: 35px; }

.introduction {
  padding-top: 60px;
  padding-bottom: 60px; }
  .introduction__container::after {
    content: "";
    display: block;
    clear: both; }
  .introduction__image-container {
    float: left;
    width: 24%; }
    .introduction__image-container img {
      width: 80%; }
  .introduction__description {
    float: left;
    padding-left: 14%;
    width: 76%; }
  .introduction__title {
    font-size: 2.5rem;
    background: linear-gradient(80deg, #7AC8C4 0%, #15A5B2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent; }
  .introduction__p {
    padding-left: 8%;
    margin-top: 24px;
    font-size: 1.2rem;
    letter-spacing: 0.8px; }

.partner {
  padding-top: 60px;
  padding-bottom: 60px; }
  .partner__container::after {
    content: "";
    display: block;
    clear: both; }
  .partner__title-container {
    float: left;
    width: 24%; }
  .partner__title {
    font-size: 2.5rem;
    color: #5C3418; }
  .partner__list {
    float: left;
    padding-left: 14%;
    width: 76%;
    font-size: 0; }
    .partner__list::after {
      content: "";
      display: block;
      clear: both; }
  .partner__item {
    display: inline-block; }
  .partner__image {
    max-height: 60px; }

.store {
  padding-top: 60px;
  padding-bottom: 60px; }
  .store__container::after {
    content: "";
    display: block;
    clear: both; }
  .store__title {
    font-size: 2.5rem;
    color: #5C3418; }
  .store__hr {
    margin: 30px 0;
    border-width: 0;
    border-bottom: 3px solid #979797;
    width: 40%; }
  .store__address {
    margin: 10px 0;
    font-size: 1.4rem;
    max-width: 300px;
    color: #606060; }
  .store__image-container {
    margin: 40px 0; }

.contact-us {
  padding-top: 60px;
  padding-bottom: 60px; }
  .contact-us__title {
    font-size: 4.15rem; }
  .contact-us__subtitle {
    margin: 20px 0;
    font-size: 1.2rem;
    line-height: 2.2em;
    font-weight: 400; }
  .contact-us__group {
    position: relative;
    margin: 60px auto;
    max-width: 650px;
    background: #fff;
    box-shadow: 0 2px 70px 0 rgba(161, 161, 161, 0.5);
    border-radius: 100px;
    opacity: 0.9; }
  .contact-us__button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 15px;
    font-size: 0; }
    .contact-us__button img {
      width: 40px; }
  .contact-us__input {
    padding: 12px 24px;
    font-size: 1.2rem;
    width: 100%;
    height: 56px;
    border-radius: 100px; }
  .contact-us__whatapp-number {
    margin: 0 20px;
    font-size: 2rem;
    font-weight: 600; }

@media (max-width: 767px) {
  .media {
    padding-top: 30px;
    padding-bottom: 30px; }
    .media__item::before, .media__item::after {
      width: 5px; }
    .media__image {
      margin: 0 8px;
      max-height: 15px; }

  .introduction {
    padding-top: 30px;
    padding-bottom: 30px; }
    .introduction__image-container {
      float: none;
      margin-left: auto;
      margin-right: auto;
      width: 40%; }
    .introduction__description {
      float: none;
      padding-left: 24px;
      padding-right: 24px;
      width: auto; }
    .introduction__title {
      text-align: center;
      margin-top: 24px;
      font-size: 1.5rem; }
    .introduction__p {
      padding-left: 0; }

  .partner {
    padding-top: 30px;
    padding-bottom: 30px; }
    .partner__title-container {
      float: none;
      width: auto; }
    .partner__title {
      text-align: center;
      font-size: 1.5rem; }
    .partner__list {
      float: none;
      padding-left: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      width: auto; }
    .partner__item {
      vertical-align: middle;
      padding: 0 20px; }

  .store__title-container {
    display: block; }
  .store__title {
    text-align: center;
    font-size: 1.5rem; } }

/*# sourceMappingURL=main.css.map */
