/* font size variables */
/* color variables */
/* special colors */
* {
  box-sizing: border-box; }

html {
  font-family: PingFangSC, "PingFang SC", "Helvetica Neue", -apple-system, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #333; }

body {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 45px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

label,
a {
  font-size: 16px;
  text-decoration: none;
  cursor: pointer; }

h4,
p {
  font-size: 14px; }

.container {
  max-width: 960px;
  margin: auto; }

.big-container {
  max-width: 1200px;
  margin: auto; }

ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-middle {
  vertical-align: middle; }

.table-top {
  display: table-cell;
  vertical-align: top; }

.col-3 {
  float: left;
  width: 25%; }

.col-4 {
  float: left;
  width: 33.33%; }

.col-5 {
  float: left;
  width: 41.66%; }

.col-6 {
  float: left;
  width: 50%; }

.col-7 {
  float: left;
  width: 58.33%; }

.col-9 {
  float: left;
  width: 75%; }

.block-mobile {
  display: none !important; }

.header {
  position: relative;
  padding-top: 35%;
  color: #fff;
  background-color: #2c2c2c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top; }
  .header__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .header__detail {
    max-width: 1200px;
    padding: 0 30px;
    margin: 20px auto; }
  .header__logo {
    display: inline-block; }
  .header__logo img {
    max-height: 50px; }
  .header__title {
    position: absolute;
    top: 45%;
    margin: 0;
    padding: 0 15px;
    width: 100%; }

.header-nav {
  display: inline-block;
  float: right;
  margin: 20px 0;
  font-size: 16px; }
  .header-nav a {
    display: block;
    padding: 6px 12px;
    color: #fff;
    font-size: inherit; }
    .header-nav a.language {
      margin-left: 0;
      margin-right: 0; }
    .header-nav a:not(.language):hover {
      color: black;
      background-color: #fad200;
      border-radius: 4px; }
  .header-nav__item {
    position: relative;
    display: inline-block;
    position: relative;
    margin: 0 14px; }
  .header-nav__dropdown-btn {
    cursor: pointer; }
  .header-nav__dropdown-btn:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 6px;
    vertical-align: middle;
    background-image: url(../img/arrow-down.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto; }
  .header-nav__submenu {
    text-align: center;
    position: absolute;
    width: 172px;
    padding: 10px 0;
    visibility: hidden;
    top: 100%;
    left: 50%;
    border-radius: 4px;
    background-color: rgba(51, 51, 51, 0.81);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%); }
  .header-nav__submenu-item a:not(.language):hover {
    border-radius: 0; }

.footer {
  padding: 30px 0;
  background-color: #2c2c2c;
  color: #b5b5b5;
  font-weight: normal; }
  .footer a,
  .footer a:hover {
    color: inherit; }
  .footer hr {
    border-width: 1px 0 0 0;
    opacity: 0.3; }
  .footer li {
    line-height: 1.5em; }
  .footer__content:after {
    content: "";
    display: block;
    clear: both; }
  .footer__address {
    display: inline-block;
    padding: 20px 0; }
  .footer__phones {
    float: right;
    padding: 20px 7% 20px 0; }
  .footer__nav {
    padding: 15px 0 10px;
    margin: 0 -12px;
    font-size: 18px; }
  .footer__nav-item, .footer__extraInfo-item {
    display: inline-block;
    margin-right: 50px; }
    .footer__nav-item a, .footer__extraInfo-item a {
      padding: 6px 12px;
      font-size: inherit; }
  .footer__extraInfo {
    padding: 10px 0; }
  .footer__extraInfo-item {
    margin-right: 30px;
    font-size: 12px; }
  .footer__qrcode {
    margin: 35px 0;
    max-width: 130px; }

.split-block {
  position: relative;
  background-color: #f5f6f7;
  padding: 16.67% 0; }

.nav {
  background-color: #353535;
  color: #fff;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav li {
    display: inline-block;
    margin-right: 90px; }
    .nav li:last-child {
      margin-right: 0; }

@media (max-width: 1024px) {
  .header-nav__item {
    margin: 0; } }
@media (max-width: 960px) {
  h1 {
    font-size: 30px; }

  h2 {
    font-size: 18px; }

  h3 {
    font-size: 16px; }

  label,
  a {
    font-size: 14px;
    text-decoration: none;
    cursor: pointer; }

  h4,
  p {
    font-size: 12px; }

  .container {
    max-width: 768px; }

  .big-container {
    max-width: 900px; }

  .header-nav__item a {
    padding: 6px; }

  .footer {
    padding-left: 15px;
    padding-right: 15px; }
    .footer__phones {
      float: none; }
    .footer__nav-item, .footer__extraInfo-item {
      margin-right: 10px; } }
@media (max-width: 767px) {
  .block-mobile {
    display: block !important; }

  .hidden-mobile {
    display: none !important; }

  .header {
    min-height: 360px; }
    .header__detail {
      padding: 0 15px; }
    .header__logo a {
      display: block; }
    .header__logo img {
      max-height: 30px; }
    .header__menu {
      float: right; }

  .header-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 60px 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #333;
    background-color: #fff;
    z-index: 2;
    overflow-y: auto; }
    .header-nav a {
      color: inherit; }
    .header-nav__item {
      display: block;
      padding: 0; }
      .header-nav__item a {
        padding: 20px; }
      .header-nav__item a:not(.language):hover {
        background-color: transparent; }
    .header-nav__item--m {
      position: absolute;
      top: 0;
      right: 0;
      padding: 20px; }
      .header-nav__item--m img {
        max-width: 16px; }
    .header-nav__dropdown-btn {
      position: relative; }
    .header-nav__dropdown-btn:after {
      position: absolute;
      right: 20px;
      top: 24px;
      background-image: url(../img/arrow-down-m.png); }
    .header-nav__submenu {
      display: none;
      visibility: visible !important;
      position: static;
      width: auto;
      color: #333;
      background-color: #fff;
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0); }
    .header-nav__submenu.show {
      display: block; }

  .footer {
    padding-top: 10px;
    padding-bottom: 10px; }
    .footer .col-9,
    .footer .col-3 {
      width: 100%; }
    .footer .col-3, .footer__nav-item, .footer__extraInfo-item {
      display: block;
      text-align: center; }
    .footer__qrcode {
      margin: 10px 0; } }
.home .header__content {
  height: auto;
  z-index: 2; }
.home .header__carousel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
.home .header__carousel .item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%; }
.home .header__carousel-item1 {
  background-image: url(../img/home-banner.jpg); }
.home .header__carousel-item2 {
  background-image: url(../img/home-surpport.jpg); }
.home .header__carousel-item3 {
  background-image: url(../img/home-flash-space.jpg); }
.home .owl-stage-outer,
.home .owl-stage,
.home .owl-item {
  height: 100%; }
.home .owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px 0;
  margin-top: 0; }
.home .owl-dot,
.home .owl-dot.active {
  outline: none; }
.home .owl-theme .owl-dots .owl-dot span {
  background: rgba(255, 255, 255, 0.5); }
.home .owl-theme .owl-dots .owl-dot.active span,
.home .owl-theme .owl-dots .owl-dot:hover span {
  background: #fff; }
.home .video-js .vjs-big-play-button {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.hp-intro {
  padding: 50px 0 30px; }
  .hp-intro__text {
    margin: 20px 0;
    line-height: 1.5em;
    font-weight: 400; }
  .hp-intro__content {
    position: relative;
    padding: 30px 0; }
    .hp-intro__content:after {
      content: "";
      display: block;
      clear: both; }
  .hp-intro__more {
    display: inline-block; }
  .hp-intro__more-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }
  .hp-intro__more-text {
    max-width: 250px; }
  .hp-intro__icon {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    padding: 5px;
    margin: 0 40px;
    width: 140px;
    height: 140px;
    border: 1px dashed #878787;
    border-radius: 50%; }
  .hp-intro__icon-content {
    width: 100%;
    height: 100%;
    border: 3px solid #878787;
    border-radius: 50%; }
    .hp-intro__icon-content > div {
      margin: 50% auto 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%); }
    .hp-intro__icon-content label {
      display: block;
      margin-top: 5px;
      font-weight: bold; }
  .hp-intro__more-plus {
    max-width: 23px; }
  .hp-intro__more-detail {
    vertical-align: top;
    display: inline-block;
    padding: 14px 0; }
  .hp-intro__more-text {
    min-height: 42px;
    line-height: 1.5em;
    font-weight: 400; }
  .hp-intro__more-link {
    color: inherit;
    padding: 3px 20px;
    background-color: #fad200; }

.hp-business:after {
  content: "";
  display: block;
  clear: both; }
.hp-business .col-3 {
  position: relative;
  padding-top: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden; }
  .hp-business .col-3:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    opacity: 0.7; }
.hp-business .col-3:hover .hp-business-hover {
  top: 0;
  transition: top 0.4s ease-in-out;
  -webkit-transition: top 0.4s ease-in-out;
  -moz-transition: top 0.4s ease-in-out;
  -ms-transition: top 0.4s ease-in-out; }
.hp-business__sort {
  background-image: url(../img/hp-automatic-sort-bg.jpg); }
.hp-business__dock {
  background-image: url(../img/hp-platform-dock-bg.jpg); }
.hp-business__storehouse {
  background-image: url(../img/hp-cloud-storehouse-bg.jpg); }
.hp-business__data {
  background-image: url(../img/hp-data-analysis-bg.jpg); }
.hp-business__item {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 50%;
  color: #fff;
  z-index: 2;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%); }
  .hp-business__item p {
    font-size: 16px;
    line-height: 1.5em; }

.hp-business-hover {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: #fad200;
  z-index: 2; }
  .hp-business-hover h3,
  .hp-business-hover p {
    color: #333; }

.hp-video {
  padding: 50px 15px 70px; }
  .hp-video h2 {
    margin: 30px 0; }
  .hp-video__list:after {
    content: "";
    display: block;
    clear: both; }
  .hp-video__item {
    padding: 20px; }
  .hp-video__video {
    position: relative;
    margin-bottom: 26px;
    padding-top: 68.5%; }
    .hp-video__video #automation-video,
    .hp-video__video #robot-video,
    .hp-video__video #unloading-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.hp-consult {
  color: #fff;
  background-image: url(../img/home-support-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .hp-consult h2 {
    font-size: 24px; }
  .hp-consult__detail {
    padding: 60px 15px; }
  .hp-consult__text {
    font-size: 18px; }
  .hp-consult__btn {
    display: inline-block;
    padding: 15px 30px;
    margin: 5px 0;
    color: #333;
    background-color: #fad200;
    font-weight: bold;
    border-radius: 2px; }

@media (max-width: 1024px) {
  .hp-intro {
    padding-left: 15px;
    padding-right: 15px; }
    .hp-intro__text {
      max-width: 700px; }
    .hp-intro__more {
      padding-left: 20px;
      padding-right: 20px; }
    .hp-intro__icon {
      margin: 0 15px;
      width: 120px;
      height: 120px; }
      .hp-intro__icon img {
        max-height: 35px; }
    .hp-intro__more-text {
      max-width: 150px; }

  .hp-business .col-3 {
    width: 50%; }
  .hp-business__item h3 {
    font-size: 14px; }
  .hp-business__item p {
    font-size: 12px; } }
@media (max-width: 767px) {
  .home .header {
    background-position-x: right;
    background-size: auto 100%; }

  .hp-intro .col-6 {
    text-align: center;
    width: 100%; }
  .hp-intro__more-detail {
    display: block; }
  .hp-intro__more-plus {
    position: static;
    display: block;
    padding: 20px 0;
    margin: auto;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0); }
  .hp-intro__more-text {
    max-width: none; }

  .hp-business .col-3 {
    width: 100%;
    padding-top: 100%; }

  .hp-video .col-4 {
    width: 100%; } }
.au .header {
  background-image: url(../img/au-banner.jpg); }

.au-description {
  padding: 50px 15px; }
  .au-description__title {
    margin: 0;
    margin-bottom: 30px; }
  .au-description__text {
    font-size: 16px;
    font-weight: 400; }

.au-duty {
  color: #fff;
  background-image: url(../img/au-duty-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .au-duty h2 {
    margin: 24px 0; }
  .au-duty span {
    font-size: 18px; }
  .au-duty img ~ span {
    margin-left: 14px; }
  .au-duty__detail {
    padding: 20px 15px 40px;
    background-color: #333;
    opacity: 0.7; }
  .au-duty__title, .au-duty__content {
    padding: 30px 0; }
  .au-duty__vision-item {
    display: inline-block;
    margin: 0 34px; }

.au-map {
  padding: 74px 0; }
  .au-map #allmap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .au-map:after {
    content: "";
    display: block;
    clear: both; }
  .au-map__map {
    position: relative;
    width: 100%;
    padding-top: 66%;
    background-color: #f5f6f7; }
  .au-map__info {
    display: inline-block;
    float: right; }
    .au-map__info li,
    .au-map__info p {
      line-height: 1.5em; }
  .au-map__company-name {
    font-weight: 500; }

@media (max-width: 1023px) {
  .au-description {
    max-width: 768px;
    margin: auto; }
    .au-description__text {
      font-size: 14px; }

  .au-duty__vision-item {
    margin: 0 10px; }
  .au-duty__title, .au-duty__content {
    padding: 10px 0; }
  .au-duty span {
    font-size: 16px; }

  .au-map {
    padding-left: 15px;
    padding-right: 15px; } }
@media (max-width: 767px) {
  .au-description__text {
    font-size: 12px; }

  .au-duty img {
    max-width: 26px; }
  .au-duty__detail {
    padding: 20px 15px; }
  .au-duty__visions {
    text-align: left;
    display: inline-block; }
  .au-duty__vision-item {
    padding: 20px 0;
    display: block; }

  .au-map .col-7,
  .au-map .col-5 {
    width: 100%; }
  .au-map .au-map__info {
    display: block;
    float: none;
    margin: 20px 0; } }
.ow .header {
  background-image: url(../img/ow-banner.jpg); }

.ow-description {
  padding: 0 15px;
  margin: 40px auto 0; }
  .ow-description__title {
    padding: 10px 0;
    margin: 0; }
  .ow-description__text {
    line-height: 1.5em;
    padding: 10px;
    margin: 0; }
  .ow-description__img {
    max-width: 785px;
    margin: 40px 0; }

.ow-covers:after {
  content: "";
  display: block;
  clear: both; }
.ow-covers h3 {
  margin: 1.5em 0; }
.ow-covers .col-3 {
  position: relative;
  padding-top: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden; }
  .ow-covers .col-3:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    opacity: 0.7; }
.ow-covers .col-3:hover .ow-covers-hover {
  top: 0;
  transition: top 0.4s ease-in-out;
  -webkit-transition: top 0.4s ease-in-out;
  -moz-transition: top 0.4s ease-in-out;
  -ms-transition: top 0.4s ease-in-out; }
.ow-covers__logistics {
  background-image: url(../img/ow-logistics-bg.jpg); }
.ow-covers__ecommerce {
  background-image: url(../img/ow-ecommerce-bg.jpg); }
.ow-covers__business-volume {
  background-image: url(../img/ow-business-volume-bg.jpg); }
.ow-covers__retailer {
  background-image: url(../img/ow-retailer-bg.jpg); }
.ow-covers__item {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 50%;
  color: #fff;
  z-index: 2;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%); }
  .ow-covers__item h3 {
    font-size: 20px; }
  .ow-covers__item p {
    font-size: 16px; }

.ow-covers-hover {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: #fad200;
  z-index: 2; }
  .ow-covers-hover h3,
  .ow-covers-hover p {
    color: #333; }

.ow-advantage {
  padding: 80px 15px 50px;
  background: #f5f6f7; }
  .ow-advantage__wrapper {
    padding: 0 30px; }
  .ow-advantage__title {
    font-weight: 500; }
  .ow-advantage__list {
    font-size: 0; }
    .ow-advantage__list:after {
      content: "";
      display: block;
      clear: both; }
  .ow-advantage__item {
    padding: 30px; }
  .ow-advantage__item-img {
    min-width: 64px;
    height: 46px; }
    .ow-advantage__item-img img {
      height: 100%; }
  .ow-advantage__item-intro {
    padding-left: 10px; }
  .ow-advantage__item-title {
    margin: 0;
    color: #171717; }
  .ow-advantage__item-text {
    line-height: 1.5em; }

@media (max-width: 1023px) {
  .ow-description {
    max-width: 768px; }
    .ow-description__img {
      width: 70%; }

  .ow-covers .col-3 {
    width: 50%;
    padding-top: 40%; } }
@media (max-width: 767px) {
  .ow-covers .col-3 {
    width: 100%;
    padding-top: 100%; }

  .ow-advantage .col-6 {
    padding: 20px 0;
    width: 100%; }
  .ow-advantage__wrapper {
    padding: 0; }
  .ow-advantage__item-img {
    width: 50px;
    min-width: 0; }
    .ow-advantage__item-img img {
      height: auto; }
  .ow-advantage__item:nth-child(1) img {
    width: 100%; }
  .ow-advantage__item:nth-child(2) img, .ow-advantage__item:nth-child(3) img, .ow-advantage__item:nth-child(4) img {
    width: 80%; } }
.wi .header {
  background-image: url(../img/wi-banner.jpg); }

.wi-intro {
  padding: 52px 0 70px; }
  .wi-intro__text {
    display: inline-block;
    max-width: 710px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 22px;
    text-align: left;
    font-size: 16px; }
  .wi-intro__list {
    padding-top: 44px;
    overflow: hidden;
    font-size: 0; }
  .wi-intro__item {
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    padding: 0 22px; }
  .wi-intro__item-wrapper {
    display: table;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    vertical-align: middle;
    background-image: url(../img/common-oval-bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center; }
  .wi-intro__item-content {
    display: table-cell;
    vertical-align: middle; }
  .wi-intro__item-img {
    padding-bottom: 10px; }
  .wi-intro__item-text {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: #171717; }

.wi-advantage {
  padding: 85px 0 100px;
  background: #f5f6f7; }
  .wi-advantage__wrapper {
    max-width: 1000px; }
  .wi-advantage__title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500; }
  .wi-advantage__list {
    padding-top: 18px;
    overflow: hidden; }
  .wi-advantage__item {
    padding: 24px;
    text-align: left; }
  .wi-advantage__item-img {
    min-width: 64px;
    height: 46px; }
  .wi-advantage__item-intro {
    padding-left: 10px; }
  .wi-advantage__item-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: #171717; }
  .wi-advantage__item-text {
    margin: 0; }

@media (max-width: 960px) {
  .container {
    max-width: 768px; }

  .wi-intro__item {
    width: 33.33%; }

  .wi-advantage__item {
    width: 50%; } }
@media (max-width: 767px) {
  .container {
    max-width: 600px; }

  .wi-intro__item {
    width: 100%;
    margin-bottom: 20px; }

  .wi-intro__text {
    text-align: center; }

  .wi-advantage__item {
    width: 100%; } }
.is .header {
  background-image: url(../img/is-banner.jpg); }

.is-rate {
  padding-bottom: 55px; }
  .is-rate__title {
    width: 80%;
    margin: 45px auto 35px;
    text-align: left; }
  .is-rate__item {
    width: 16%;
    text-align: center;
    display: inline-flex; }
  .is-rate__item-out {
    position: relative;
    background-image: url(../img/common-oval-bg.png);
    width: 140px;
    height: 140px;
    margin: auto; }
  .is-rate__item-in > * {
    font-size: 18px;
    position: absolute;
    left: 0;
    right: 0; }
  .is-rate__item-in :first-child {
    top: 45px; }
  .is-rate__item-in :last-child {
    bottom: 45px; }

.is-intro:after {
  content: "";
  display: block;
  clear: both; }
.is-intro__block {
  padding-left: 45px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 500px;
  margin: auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%); }
  .is-intro__block h3 {
    font-weight: normal; }
  .is-intro__block > p {
    position: relative;
    line-height: 1.5; }
.is-intro__block-img--clothes, .is-intro__block-img--makeup, .is-intro__block-img--shop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
.is-intro__block-img--clothes {
  background-image: url("../img/is-clothes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
.is-intro__block-img--makeup {
  background-image: url("../img/is-makeup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
.is-intro__block-img--shop {
  background-image: url("../img/is-shop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
.is-intro__block-text {
  display: inline-block;
  margin-bottom: 5px; }
.is-intro__question:before {
  content: '';
  background-image: url("../img/is-question.png");
  position: absolute;
  width: 24px;
  height: 28px;
  left: -40px; }
.is-intro__exclamation:before {
  content: '';
  background-image: url("../img/is-exclamation.png");
  position: absolute;
  width: 24px;
  height: 28px;
  left: -40px; }

@media (max-width: 960px) and (min-width: 768px) {
  .container {
    max-width: 768px; }

  .is-rate__item {
    width: 35%;
    margin-bottom: 5%; }
    .is-rate__item-out {
      width: 142px;
      height: 142px; }

  .is-intro .split-block {
    padding: 20%; }
  .is-intro__block {
    padding-right: 15px; } }
@media (max-width: 767px) {
  .nav li {
    margin-right: 10px; }

  .is-rate__item {
    width: 100%; }

  .is-intro .col-6 {
    float: none;
    width: initial; }
  .is-intro__block {
    padding-right: 15px; }
  .is-intro .split-block {
    padding: initial; }
    .is-intro .split-block .bg-opacity {
      opacity: 0.7;
      padding: 50%; }
    .is-intro .split-block#is-clothes .bg-opacity {
      background-image: url("../img/is-clothes.jpg"); }
    .is-intro .split-block#is-makeup .bg-opacity {
      background-image: url("../img/is-makeup.jpg"); }
    .is-intro .split-block#is-shop .bg-opacity {
      background-image: url("../img/is-shop.jpg"); }

  .is-intro__block-img {
    display: none; } }
/* font size variables */
/* color variables */
/* special colors */
.service .header {
  background-image: url(../img/s-banner.jpg); }
.service__title {
  width: 80%;
  padding: 50px 0;
  margin: 0 auto 30px; }

.service-intro:after {
  content: "";
  display: block;
  clear: both; }
.service-intro__block {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-width: 500px;
  margin: auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%); }
.service-intro__block-img--mw, .service-intro__block-img--wi, .service-intro__block-img--ow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
.service-intro__block-img--mw {
  background-image: url("../img/s-micro-warehouse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
.service-intro__block-img--wi {
  background-image: url("../img/s-warehouse-integration.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
.service-intro__block-img--ow {
  background-image: url("../img/s-overseas-warehouse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
.service-intro__more {
  display: inline-block;
  width: 96px;
  height: 20px;
  background-color: #fad200;
  border-radius: 2px;
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
  color: #000;
  margin-top: 40px; }
.service-intro__text {
  margin: 0;
  line-height: 1.5; }

@media (max-width: 960px) {
  .service-intro__block {
    padding: 15px; } }
@media (max-width: 767px) {
  .is-rate__item {
    width: 100%; }

  .service-intro .col-6 {
    float: none;
    width: initial; }
  .service-intro .split-block {
    padding: initial; }
    .service-intro .split-block .bg-opacity {
      opacity: 0.7;
      padding: 50%; }
    .service-intro .split-block#service-mw .bg-opacity {
      background-image: url("../img/s-micro-warehouse.jpg"); }
    .service-intro .split-block#service-wi .bg-opacity {
      background-image: url("../img/s-warehouse-integration.jpg"); }
    .service-intro .split-block#service-ow .bg-opacity {
      background-image: url("../img/s-overseas-warehouse.jpg"); }

  .service-intro__block-img {
    display: none; } }
.mw .header {
  background-image: url(../img/mw-banner.jpg); }
.mw .header__title h1 {
  margin-top: 0; }

.mw-annoy {
  padding: 50px 15px; }
  .mw-annoy p {
    margin: 0;
    line-height: 1.7em; }
  .mw-annoy__title {
    margin: 0 0 40px; }
  .mw-annoy__list {
    padding: 10px 0;
    margin-top: 20px; }
  .mw-annoy__item {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    padding: 5px;
    margin: 0 20px;
    width: 140px;
    height: 140px;
    border: 2px dashed #878787;
    border-radius: 50%; }
  .mw-annoy__item-content {
    width: 100%;
    height: 100%;
    border: 3px solid #878787;
    border-radius: 50%; }
  .mw-annoy__item-text {
    display: block;
    margin: 50% auto 0;
    font-weight: 500;
    max-width: 90px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }

.mw-intro {
  background-image: url(../img/mw-power-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .mw-intro__detail {
    color: #fff;
    background-color: #333;
    opacity: 0.7; }
  .mw-intro .container {
    padding: 60px 0 56px; }
  .mw-intro__text {
    margin: 0;
    line-height: 1.5em; }
  .mw-intro__list:after {
    content: "";
    display: block;
    clear: both; }
  .mw-intro__list img {
    margin-bottom: 10px;
    height: 48px; }
  .mw-intro__item {
    margin: 24px 0 6px; }
  .mw-intro__item-text {
    font-size: 20px; }

.mw-advantage {
  padding: 60px 0; }
  .mw-advantage__title {
    margin: 0; }
  .mw-advantage__list:after {
    content: "";
    display: block;
    clear: both; }
  .mw-advantage__item {
    margin: 30px 0; }
  .mw-advantage__item-intro {
    padding-left: 20px; }
  .mw-advantage__item-title {
    margin: 0 0 10px; }

@media (max-width: 1023px) {
  .mw-annoy {
    max-width: 768px; }
    .mw-annoy__list {
      padding-left: 5px;
      padding-right: 5px; }

  .mw-advantage .col-4 {
    padding-left: 10%;
    padding-right: 10%;
    width: 50%; } }
@media (max-width: 767px) {
  .mw-intro__item-text {
    display: block;
    margin: auto;
    max-width: 180px; } }
@media (max-width: 600px) {
  .mw .header h1 {
    font-size: 24px; }
  .mw .header h2 {
    font-size: 14px; }

  .mw-annoy__title {
    font-size: 16px; }
  .mw-annoy__item {
    display: block;
    margin: 20px auto; }

  .mw-intro .col-6 {
    width: 100%; }

  .mw-advantage .col-4 {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%; } }
.system .header {
  background-image: url(../img/system-banner.jpg); }

.system-description {
  padding: 0 15px;
  margin: 50px auto 60px; }
  .system-description__title {
    padding: 10px 0;
    margin: 0; }
  .system-description__text {
    line-height: 1.5em;
    padding: 10px;
    margin: 0; }

.system-docking {
  padding: 70px 15px 40px;
  background-color: #333;
  color: #fff; }
  .system-docking__platform-item {
    display: inline-block; }
  .system-docking__systems {
    position: relative;
    padding: 30px 0; }
    .system-docking__systems:before {
      content: "";
      position: absolute;
      display: block;
      top: 2%;
      left: 50%;
      width: 1px;
      height: 25%;
      background-color: #fff; }
  .system-docking__logo {
    position: absolute;
    max-width: 120px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -10px);
    -webkit-transform: translate(-50%, -10px);
    -moz-transform: translateX(-50%, -10px);
    -ms-transform: translateX(-50%, -10px); }
    .system-docking__logo img {
      max-width: 100%; }
  .system-docking__platform {
    display: inline-block;
    padding: 20px;
    border: 2px dashed #fff;
    border-radius: 10px; }
    .system-docking__platform span {
      font-size: 18px; }
  .system-docking__erp, .system-docking__express {
    position: relative; }
  .system-docking__erp:after, .system-docking__express:before {
    content: "";
    position: absolute;
    top: 30%;
    display: block;
    width: 30%;
    height: 1px;
    background-color: #fff; }
  .system-docking__erp:after {
    left: 54%; }
  .system-docking__express:before {
    right: 54%; }
  .system-docking__systems:after, .system-docking__erp-list:after, .system-docking__express-list:after {
    content: "";
    display: block;
    clear: both; }
  .system-docking__erp-brands, .system-docking__express-brands {
    position: relative;
    padding: 0 30px;
    border: 2px dashed #fff;
    width: 54%;
    max-width: 322px;
    border-radius: 10px; }
    .system-docking__erp-brands p, .system-docking__express-brands p {
      font-size: 18px; }
  .system-docking__express-brands {
    margin-left: 46%; }
  .system-docking__platform-item {
    margin: 5px; }
  .system-docking__erp-item {
    margin-bottom: 15px; }
  .system-docking__express-item {
    margin-bottom: 30px; }
  .system-docking__erp-intro, .system-docking__express-intro {
    position: relative;
    text-align: center; }
    .system-docking__erp-intro span, .system-docking__express-intro span {
      display: inline-block;
      max-width: 145px; }
    .system-docking__erp-intro:before, .system-docking__express-intro:before {
      content: "";
      position: absolute;
      width: 1px;
      height: 40%;
      background-color: #fff; }
    .system-docking__erp-intro:after, .system-docking__express-intro:after {
      content: "";
      position: absolute;
      top: 40%;
      width: 40%;
      height: 1px;
      background-color: #fff; }
  .system-docking__erp-intro:before, .system-docking__erp-intro:after {
    left: 0; }
  .system-docking__express-intro:before, .system-docking__express-intro:after {
    right: 0; }
  .system-docking__erp-intro {
    margin-left: 30%; }
  .system-docking__express-intro {
    margin-right: 30%; }

.system-chart {
  padding: 30px 15px; }
  .system-chart img {
    width: 100%; }
  .system-chart .container:after {
    content: "";
    display: block;
    clear: both; }
  .system-chart__list {
    display: inline-block;
    margin-top: 12%; }
  .system-chart__item {
    position: relative;
    padding: 0 0 20px 20px;
    border-left: 2px solid #333;
    font-weight: 400; }
    .system-chart__item:last-child {
      padding-bottom: 0; }
    .system-chart__item:before {
      content: "";
      position: absolute;
      left: -1px;
      top: 0;
      display: block;
      width: 14px;
      height: 14px;
      border: 2px solid #333;
      background-color: #fad200;
      border-radius: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%); }

@media (max-width: 1200px) {
  .system-docking__erp-brands, .system-docking__express-brands {
    padding: 0 5px; } }
@media (max-width: 1024px) {
  .system-docking__erp-brands, .system-docking__express-brands {
    width: 74%;
    max-width: none; }
  .system-docking__express-brands {
    margin-left: 26%; }
  .system-docking__erp:after, .system-docking__express:before {
    width: 10%; }
  .system-docking__erp:after {
    left: 74%; }
  .system-docking__express:before {
    right: 74%; }
  .system-docking__erp-intro, .system-docking__express-intro {
    padding-top: 5%; }
  .system-docking__erp-intro:before, .system-docking__express-intro:before {
    margin-top: -7%; } }
@media (max-width: 768px) {
  .system-docking__systems {
    padding: 100px 0 20px; }
    .system-docking__systems:before {
      height: 30px; }
  .system-docking__erp:after, .system-docking__express:before {
    top: -30px;
    width: 30%; }
  .system-docking__erp:after {
    left: 50%; }
  .system-docking__express:before {
    right: 50%; }
  .system-docking__erp-brands, .system-docking__express-brands {
    margin-left: 5%;
    width: 90%; }
  .system-docking__erp-brands:before, .system-docking__express-brands:after {
    content: "";
    position: absolute;
    top: -30px;
    width: 1px;
    height: 30px;
    background-color: #fff; }
  .system-docking__logo {
    top: 54px; } }
@media (max-width: 620px) {
  .system .header {
    background-position: 80% center;
    background-size: auto 100%; }

  .system-docking__platform {
    padding: 10px 5px; }
  .system-docking__platform-item img {
    max-height: 40px; }
  .system-docking__erp-brands, .system-docking__express-brands {
    width: 95%;
    margin-left: 2.5%; }
    .system-docking__erp-brands p, .system-docking__express-brands p {
      font-size: 12px; }
  .system-docking__erp-item.col-6 {
    width: 100%;
    margin-bottom: 2px; }
  .system-docking__erp-item.col-6 img {
    width: 60%; }
  .system-docking__express-item.col-4 {
    width: 50%;
    margin-bottom: 28px; }
  .system-docking__erp-intro, .system-docking__express-intro {
    margin: 0; }
  .system-docking__erp-intro:before, .system-docking__erp-intro:after, .system-docking__express-intro:before, .system-docking__express-intro:after {
    content: none; }

  .system-chart .col-7,
  .system-chart .col-5 {
    width: 100%; }
  .system-chart__list {
    display: block;
    margin: 0 7%; } }
@media (max-width: 500px) {
  .system-docking__express-item.col-4 {
    margin-bottom: 19px; } }
@media (max-width: 360px) {
  .system-docking__platform .system-docking__platform-text {
    font-size: 14px; }
  .system-docking__platform-item img {
    max-height: 30px; }
  .system-docking__erp-item.col-6 img {
    width: 73%; }
  .system-docking__erp-brands .system-docking__erp-text, .system-docking__express-brands .system-docking__express-text {
    font-size: 9px; }
  .system-docking__erp-intro {
    padding-top: 10px; } }
/* font size variables */
/* color variables */
/* special colors */
.form .header__detail {
  padding: 15px; }
.form .header-nav {
  margin: 12px 0; }

.form-header {
  background-color: #fff;
  margin-bottom: 40px; }
  .form-header .header__detail {
    margin: 0 auto; }
  .form-header .header__detail:after {
    content: "";
    display: block;
    clear: both; }
  .form-header .header-nav a {
    color: #333; }
  .form-header .header-nav__submenu-item a {
    color: #fff; }

.form-footer {
  margin-top: 40px; }

.form-body {
  background-color: #f5f6f7; }

.form__wrapper {
  background-color: #fff;
  padding: 40px 15px;
  margin: 0 auto; }
.form__title {
  display: inline-block;
  margin: 0 auto 10px;
  font-size: 24px;
  font-weight: normal; }
.form__description {
  margin-bottom: 35px;
  font-size: 18px; }
.form .form-group .error,
.form .form-group__require,
.form .form-group__label {
  display: inline-block;
  width: 70%;
  text-align: left;
  line-height: 1.5; }
.form .form-group__label, .form .form-checkbox__label {
  font-size: 18px; }
.form .form-checkbox {
  display: inline-block;
  margin-right: 40px; }
.form .form-group__input, .form .form-group__select {
  display: block;
  width: 70%;
  height: 60px;
  margin: auto;
  text-align: left;
  font-size: 16px;
  background-color: #fff;
  border-radius: 4px;
  border: solid 1px #b5b5b5; }
.form .form-group {
  margin-bottom: 35px; }
.form .form-group__require,
.form .error {
  color: red; }
.form .form-group__select-option {
  height: 30px; }
.form__submit {
  width: 70%;
  text-align: left;
  margin: auto; }
  .form__submit .submit {
    width: 130px;
    height: 48px;
    border: 0;
    border-radius: 2px;
    background-color: #fad200; }

@media (max-width: 1024px) {
  form {
    padding: 0 15px; } }
@media (max-width: 960px) {
  .form-header {
    margin-bottom: 0; }

  .form-footer {
    margin-top: 0; }

  .form__wrapper {
    padding: 20px; }
  .form .form-group__input,
  .form .form-group__select,
  .form .form-group .error,
  .form .form-group__require,
  .form .form__submit,
  .form .submit,
  .form .form-group__label {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
