.media {
  padding-top: 60px;
  padding-bottom: 60px;

  &__list {
    font-size: 0;
  }

  &__item {
    display: inline-block;
    font-size: 0;

    &::before,
    &::after {
      content: "";
      vertical-align: middle;
      display: inline-block;
      width: 10px;
      height: 1px;
      background-color: $light-gray;
    }
  }

  &__item:first-child::before {
    display: none;
  }

  &__item:last-child::after {
    display: none;
  }

  &__image {
    margin: 0 35px;
    max-height: 35px;
  }
}

.introduction {
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &__image-container {
    float: left;
    width: 24%;

    img {
      width: 80%;
    }
  }

  &__description {
    float: left;
    padding-left: 14%;
    width: 76%;
  }

  &__title {
    font-size: 2.5rem;
    background: linear-gradient(80deg, $theme-color-light 0%, $theme-color 100%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }

  &__p {
    padding-left: 8%;
    margin-top: 24px;
    font-size: 1.2rem;
    letter-spacing: 0.8px;
  }
}

.partner {
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &__title-container {
    float: left;
    width: 24%;
  }

  &__title {
    font-size: 2.5rem;
    color: $title-color;
  }

  &__list {
    float: left;
    padding-left: 14%;
    width: 76%;
    font-size: 0;

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &__item {
    display: inline-block;
  }

  &__link {
    display: block;
  }

  &__image {
    max-height: 60px;
  }
}

.store {
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &__title {
    font-size: 2.5rem;
    color: $title-color;
  }

  &__hr {
    margin: 30px 0;
    border-width: 0;
    border-bottom: 3px solid $middle-gray-1;
    width: 40%;
  }

  &__address {
    margin: 10px 0;
    font-size: 1.4rem;
    max-width: 300px;
    color: $lightter-gray;
  }

  &__image-container {
    margin: 40px 0;
  }
}

.contact-us {
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    font-size: 4.15rem;
  }

  &__subtitle {
    margin: 20px 0;
    font-size: 1.2rem;
    line-height: 2.2em;
    font-weight: 400;
  }

  &__group {
    position: relative;
    margin: 60px auto;
    max-width: 650px;
    background: $white;
    box-shadow: 0 2px 70px 0 rgba(161, 161, 161, 0.50);
    border-radius: 100px;
    opacity: 0.9;
  }

  &__button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 15px;
    font-size: 0;

    img {
      width: 40px;
    }
  }

  &__input {
    padding: 12px 24px;
    font-size: 1.2rem;
    width: 100%;
    height: 56px;
    border-radius: 100px;
  }

  &__whatapp-number {
    margin: 0 20px;
    font-size: 2rem;
    font-weight: 600;
  }
}

@media (max-width: 767px) {
  .media {
    padding-top: 30px;
    padding-bottom: 30px;

    &__item {
      &::before,
      &::after {
        width: 5px;
      }
    }

    &__image {
      margin: 0 8px;
      max-height: 15px;
    }
  }

  .introduction {
    padding-top: 30px;
    padding-bottom: 30px;

    &__image-container {
      float: none;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
    }

    &__description {
      float: none;
      padding-left: 24px;
      padding-right: 24px;
      width: auto;
    }

    &__title {
      text-align: center;
      margin-top: 24px;
      font-size: 1.5rem;
    }

    &__p {
      padding-left: 0;
    }
  }

  .partner {
    padding-top: 30px;
    padding-bottom: 30px;

    &__title-container {
      float: none;
      width: auto;
    }

    &__title {
      text-align: center;
      font-size: 1.5rem;
    }

    &__list {
      float: none;
      padding-left: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      width: auto;
    }

    &__item {
      vertical-align: middle;
      padding: 0 20px;
    }
  }

  .store {
    padding-top: 30px;
    padding-bottom: 30px;

    &__title-container {
      display: block;
      float: none;
      width: auto;
    }

    &__title {
      text-align: center;
      font-size: 1.5rem;
    }

    &__hr {
      margin: 20px auto;
    }

    &__address {
      text-align: center;
      margin: 10px auto;
    }

    &__image-container {
      width: 100%;
    }
  }

  .contact-us {
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
      text-align: center;
      font-size: 1.5rem;
    }

    &__subtitle {
      margin: 15px 5px;
    }

    &__group {
      margin: 20px 15px;
    }
  }

}