/* font size variables */
$smaller-font: 11px;
$small-font: 12px;
$main-font: 14px;
$big-font: 16px;
$bigger-font: 18px;
$biggest-font: 20px;

$banner-font: 45px;
$banner-font-m: 30px;
$surpport-font: 24px;

/* color variables */
$white: #fff;
$black: #000;
$light-black: #353535;
$main-color: #333;
$theme-color: #fad200;

$light-gray: #f5f6f7;
$lightter-gray: #474747;
$dark-gray: #2c2c2c;
$darker-gray: #171717;
$middle-gray-1: #878787;
$middle-gray-2: #f5f6f7;

/* special colors */
$footer-color: #b5b5b5;